<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="iris.example.sabita_sant.alarm">

    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" /> <!-- alarm volume -->

    <application
        android:allowBackup="true"
        android:configChanges="keyboardHidden|orientation"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name=".controller.AlarmReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="iris.jaagore.sabita_sant.alarm.START_ALARM" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".controller.ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="iris.jaagore.sabita_sant.alarm.GET_QUOTE" />
            </intent-filter>
        </receiver>

        <activity android:name=".views.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.AlarmScreen" />
        <activity
            android:name=".views.QuoteScreen"
            android:hardwareAccelerated="true" />

        <service
            android:name=".controller.QuoteService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".views.Home" />
        <activity android:name=".views.PhraseActivity">
            <!--  <intent-filter>
                  <action android:name="android.intent.action.MAIN" />

                  <category android:name="android.intent.category.LAUNCHER" />
              </intent-filter>-->
        </activity>
    </application>

</manifest>